# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/
dev-build/

# VS Code
.vscode/
!.vscode/tasks.js
!.vscode/launch.json

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Protect credentials and other sensitive information from ending up in git
aws-sdk-config.json
aliases-sync-config.json
aliases-user-emails.json

# Don't put an aliases file that user may be syncing into git
aliases

# The default WorkMail state file
workmail-state.json

# Emacs
*~

# Keep some debug config files etc. locally for a while
misc-debug-files/
